body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ADD8E6; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto; /* Enable vertical scroll */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select, button {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto; /* Enable horizontal scroll */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Additional Styles */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px 0; /* Add margin to allow space for scrolling */
}

.section {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.invalid {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}

.hint {
    color: gray;
    font-size: 0.9em;
}

.selected-options {
    margin-top: 10px;
}

.selected-options span {
    display: inline-block;
    background: #e1e1e1;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.selected-options span button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    button[type="submit"] {
        font-size: 0.9em;
        padding: 8px;
    }
}
